<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekday Warrior</title>
</head>

<body>
  <h1>Hey, it's <%= dayType %>, <%= message %>!</h1>
  <!--  dayType และ message มาจาก ค่าที่ส่งผ่านมาจาก res.render ในไฟล์ index.ejs-->
</body>

</html>